# Ignore node modules
node_modules/

# Ignore Python cache
__pycache__/
fastapi/__pycache__/
fastapi/agents/__pycache__/
fastapi/memory/__pycache__/
fastapi/routes/__pycache__/
fastapi/utils/__pycache__/
# Ignore compiled files
*.class
*.pyc

# Ignore IDE/config files
.vscode/
# .env
# backend/env
# fastapi/env
# frontend/env
# test_ui.py
/frontend/build/
