fastapi
uvicorn
langchain==0.2.14
langchain-community==0.2.12
langchain-openai==0.1.15
openai
sentence-transformers
python-multipart
pydantic
fpdf
httpx
pinecone
crypto
pycryptodome
python-dotenv
websockets